
html{
    background-color: black;
}

h1{
    text-transform: uppercase; font-size: xx-large;
}        

.image{
    width: 100%; 
    border: 5px solid white;
}
p{
    color: white; font-size: x-small;
}

div{
    width: 50%; 
    margin-left: 25%; 
    text-align: center; 
    margin-top: 50px;
    font-family: "Libre Baskerville", serif;
    font-style: normal; color: white;
}